@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project;
<h3>@Model.Name</h3>
i have @Model.WorkflowSteps.Count workflow steps.
@foreach (var step in Model.WorkflowSteps)
{
    <div>
        @step.FromStats == @step.Action
        ==> @step.ToStatus
    </div>
}